* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f3f3;
}

.todoApp {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 40rem;
  height: auto;
  padding: 1rem 2rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.todoApp h1 {
  width: 100%;
  text-align: left;
  font-size: 1.7rem;
  background: white;
  color: rgb(85, 85, 85);
}
